body{
    margin : 0;
}
h1 {
    margin-top : 0;
}
.data {
    background-color: blue;
}
.data:hover{
    background-color:yellow;
}
.education {
    background-color:aqua;
    margin-left:400px;
}
.education:hover{
    background-color:orange;
}
.photo{
    background-color:crimson;
    margin-left:800px;
    margin-top: -600px;
}
.photo:hover{
    background-color:royalblue;
}
.hobbies{
    background-color:darkmagenta;
    margin-top:300px;
}
.hobbies:hover{
    background-color:brown;
}
.contact{
    background-color:forestgreen;
    margin-left:800px;
    margin-top:-300px;
}
.contact:hover{
    background-color:green;
}
p{
    display:inline-block;
}
a{
    display:block;
    width:400px;
    height:300px;
}
div{
    width:400px;
    height:300px;
    line-height:300px;
    text-align:center;
}

